body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.popup h2 {
    margin-top: 0;
    color: #333;
}

.popup button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.popup button:hover {
    opacity: 0.9;
}

.btn-play {
    background-color: #4CAF50;
    color: white;
}

.btn-home {
    background-color: #f44336;
    color: white;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

h1 {
    margin: 20px 0;
}

#game-container {
    display: grid;
    gap: 2px;
    margin: 10px;
}

.cell {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ccc;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.cell.selected {
    background-color: #ffeb3b;
}

.cell.found {
    background-color: #c8e6c9;
    pointer-events: none;
}

#word-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#word-list > h3 {
    margin: 0 10px;
}

#word-list>div {
    margin: 10px;
}

.word {
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

.found {
    background-color: green;
    color: rgb(248, 248, 248);
}

@media (max-width: 768px) {
    .cell {
        width: 13px;
        height: 13px;
        font-size: 10px;
    }


    #word-list {
        flex-wrap: wrap;
        font-size: 13px;
    }
}
