/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

#content {
    padding: 20px;
}

.section-title {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}


#numberWord{
    display: block;
    position: absolute;
    bottom: 0;
    right: 15px;
}

#class{
    display: block;
    position: absolute; 
    top: 5%;
    right: 50%;
    transform: translate(50%, -50%)
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    height: 100vh;
}

/* Đặt container có perspective để tạo hiệu ứng 3D */
.card-container {
    perspective: 1500px;
    width: 100vh;
    height: 600px;
    margin-bottom: 20px;

}

/* Đặt thẻ chính */
.card {
    width: 100%;
    height: 100%;
    position: relative;    
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
}

/* Mặt trước và mặt sau của thẻ */
.card-front, .card-back {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    border: 5px dashed rgba(0, 0, 0, 0.249);
}

/* Đặt màu nền cho mặt trước */
.card-front {
    background-color: #2e7cd0;
}

.card-front > .word{
    font-size: 55px;
}

/* Mặt sau của thẻ */
.card-back {
    background-color: #23953e;
    transform: rotateY(180deg);
}

.card-back > .mean{
    font-size: 55px;

}

/* Thêm lớp 'flipped' để lật thẻ */
.card.flipped {
    transform: rotateY(180deg);
}

/* Style cho nút điều khiển */
.controls {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin:20px;
}

.controls > button{
    padding: 5px;
    min-width: 100px;
}


@media (max-width: 767px) {
    .card-container{
        width: auto;
    }
}